#root {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.profile-picture{
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.add-employee{
  max-width: 350px;
}

.employee-card{
  height: 550px;
  max-height: 580px;
}

.employee-grid{
  min-width: 900px;
}

.sort-selection{
  height: 2.5rem;
}

.employee-card-paragraph{
  overflow: hidden;
}