/* Making sure there's no space between the navigation bar and the body */
body, html{
    padding: 0;
    margin: 0;
}
/* Sticky navigation bar */
nav {
    display: flex;
    justify-content: center;
    background-color: black;
    position:fixed;
    top:0;
    right: 0;
    left: 0;
    max-height: 5rem;
    font-size: 1.3rem;
    z-index: 1;
}
/* Navigation bar's list items */
.nav-li  a, #category a {
    text-decoration: none;
    color: white;
    vertical-align: middle;
}

.nav-li a:hover{
    color: #DDDDDD;
}

.nav-ul{
    list-style: none;
}

.nav-li {
    display: inline-block;
    vertical-align: middle;
}
.nav-li img{
    height: 50px;
    width: 50px;
    vertical-align: middle;
}

#logo{
    margin-left:0;
    margin-right: 1.5rem;
    vertical-align: auto;
    display: inline-block;
}

#navigationSearch{
    height: 2rem;
    width: 14rem;
    margin-right:0;
}

#mainContent{
    background-color:#121212;
    min-height: 93vh;
    margin-top: 5rem;
    display: flex;
}

#categories{
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color:  #191919;
    border-radius: 2rem;
    min-height: 250px;
    width: 80%;
    max-width: 1600px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#category, #category img{
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    max-width: 350px;

}

#category{
    height: 300px;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#category img{
    height: 250px;
}
#category img:hover{
    transform: scale(1.03);
    animation-duration: 500ms;
}
#category a{
    font-size: 1.2rem;
}